/* body * { */
/*     border: 1px solid black; */
/* } */

body {
    background-color: rgb(26, 20, 51);
    color: white;
}
.pie{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    border-radius: 50%;
    background: #28344e;
    background: linear-gradient(to right, #28344e 50%, #cf9134 0);/*左が紺色、右が黄色*/
    }
 
.pie::before {
    content: '';
    display: block;
    margin-left: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: #28344e;
    transform-origin: left;
    animation: spin 10s linear infinite,color 20s step-end infinite;
}
 
@keyframes spin {
    to { transform: rotate(.5turn); }
}
 
@keyframes color {
    50% { background: #cf9134; }/*黄色*/
}
